{% extends 'base.html.twig' %}

{% block content %}
    {% if users is empty %}
        <div class="alert alert-warning">
            Brak użytkowników. <a href="{{ url('admin_user_create') }}">Dodaj użytkownika.</a>
        </div>
    {% else %}
        <table class="table table-striped">
            {% for user in users %}
                <tr>
                    <td>
                        {{ user.email }}
                        {% if user.admin %}(administrator){% endif %}
                    </td>
                    <td class="text-right">
                        <form action="{{ url('admin_user_reset-password', {'email': user.email}) }}" method="POST" class="d-inline">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('user.reset_password') }}"/>
                            <button type="submit" class="btn btn-sm btn-outline-primary">
                                Zmień hasło
                            </button>
                        </form>
                        <form action="{{ url('admin_user_delete', {'email': user.email}) }}" method="POST" class="d-inline">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('user.delete') }}"/>
                            <button type="submit" class="btn btn-sm btn-danger">
                                Usuń
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <a href="{{ url('admin_user_create') }}">Dodaj użytkownika</a>
    {% endif %}
{% endblock %}

