{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url('admin_table_list') }}">Tabele</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url('admin_user_list') }}">Użytkownicy</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <a href="{{ url('logout') }}">Wyloguj się</a>
            </form>
        </div>
    </nav>

    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        window.addEventListener('DOMContentLoaded', () => {
            const allUsersCheckbox = document.querySelector('.all-users-checkbox')
            const usersCheckboxGroup = document.querySelector('.users-checkbox-group')

            if (allUsersCheckbox && usersCheckboxGroup) {
                const updateUsersCheckboxGroupVisiblity = () => {
                    if (allUsersCheckbox.checked) {
                        usersCheckboxGroup.classList.add('d-none')
                    } else {
                        usersCheckboxGroup.classList.remove('d-none')
                    }
                }

                updateUsersCheckboxGroupVisiblity()

                allUsersCheckbox.addEventListener('change', () => {
                    updateUsersCheckboxGroupVisiblity()
                })
            }
        })
    </script>
{% endblock %}
