{% extends 'admin/base.html.twig' %}

{% block content %}
    {% if tables is empty %}
        <div class="alert alert-warning">
            {{ 'admin.no_tables'|trans }}. <a href="{{ url('admin_table_create') }}">{{ 'admin.create_table'|trans }}.</a>
        </div>
    {% else %}
        <table class="table table-striped">
            {% for table in tables %}
                <tr>
                    <td>
                        <a href="{{ url('table_show', {'id': table.id}) }}">
                            {{ table.name }} <small>({{ table.id }})</small>
                            <span class="badge badge-info">{{ 'admin.num_of_users'|trans({'users': table.users|length}) }}</span>
                        </a>
                    </td>
                    <td class="text-right">
                        <a href="{{ url('admin_table_edit', {'id': table.id}) }}" class="btn btn-sm btn-outline-primary">
                            {{ 'admin.edit'|trans }}
                        </a>
                        <form action="{{ url('admin_table_delete', {'id': table.id}) }}" method="POST" class="d-inline">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('table.delete') }}"/>
                            <button type="submit" class="btn btn-sm btn-danger">
                                {{ 'admin.delete' | trans }}
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <a href="{{ url('admin_table_create') }}">{{ 'admin.create_table'|trans }}</a>
    {% endif %}
{% endblock %}

